image-list {
  box-sizing: border-box;
  padding: 4px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-columns: 10%;
  //grid-auto-rows: 20px;
  overflow: auto;
  & > div {
    box-sizing: border-box;
    //padding-bottom: 100%;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
