audio-progress {
  flex: 0 0 40%;
  border-top: 1px solid #6362CE;
  position: relative;
  div.head {
    position: absolute;
    box-sizing: border-box;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid;
    top: -3px;
    left: -2px;
    background-color: #6362CE;
  }
}
